/*************************NAVBAR**************************/
/*Margen superior*/
md-nav-bar {
    margin: -1rem;
}
/*Color de la barra*/
md-nav-bar > .md-nav-bar > nav {
    background-color: #283593;
}
/*Color del elemento no seleccionado*/
md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
    color: #fff
}
/*Color del elemento seleccionado*/
.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: #ff7a2c;
}
/*Position fixed*/
md-nav-bar > .md-nav-bar {
    position: fixed;
    z-index: 100;
}
md-nav-bar > .md-nav-bar > nav {
    position: inherit;
}
/*Fondo transparente en focus*/
.md-nav-item > button.md-button:focus {
    background-color: transparent;
}
/*Color de ink-bar, linea debajo del link*/
md-nav-bar md-nav-ink-bar {
    background: #ff7a2c;
}
.png-icon{
    width: 15rem;
    height:auto;
    margin-bottom: -1rem;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}