<md-content layout-padding>
    <div layout="column" layout-fill>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-button>
                <img class="png-icon" src="assets/icons/lautcom.png">
            </md-button>
            <span flex></span>
            <md-nav-item md-nav-click="goTo(name)" name="{{name}}" ng-hide="(name == 'modulada' || name == 'espectro' || name == 'demodulada') && noModulado"
                         ng-repeat="name in ['moduladora', 'portadora', 'modular', 'modulada', 'demodulada', 'espectro']">
                {{name}}
            </md-nav-item>
            <md-button style="float: right;" ng-class="{'md-raised md-warn' : !ruido.val, 'md-raised': ruido.val}" ng-click="ruido.val = !ruido.val">
                {{ruido.val ? "eliminar ruido"  : "agregar ruido"}}
            </md-button>
        </md-nav-bar>
        <br>
        <div ui-view>
        </div>
    </div>

</md-content>