<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Calcular sensibilidad a la desviación ({{titulo}})</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">clear</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container class="md-block">
                    <label ng-if="tipo == 'PM'">Desviación de fase</label>
                    <label ng-if="tipo == 'FM'">Desviación de velocidad angular</label>
                    <input type="number" ng-model="desviacion1">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Desviación voltaje</label>
                    <input type="number" ng-model="desviacion2">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
            <md-button ng-click="calcular()">
                Calcular
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>