<div>
    <!--MODULADORA-->
    <div id="moduladora" class="row">
        <h5 class="center-align">Señal Moduladora</h5>
        <div class="col s9">
            <highchart config="moduladoraChartConfig"></highchart>
        </div>
        <div class="col s3">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Propiedades de la señal</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <form name="moduladoraForm">
                        <div layout="row" layout-wrap>
                            <div flex="50">
                                <md-input-container class="md-block">
                                    <label>Señal</label>
                                    <md-select name="modelo" ng-model="modulacion.moduladora.modelo" ng-change="validarPeticion(moduladoraForm)" required md-no-asterisk>
                                        <md-option ng-repeat="signal in signals" ng-value="signal.id">
                                            {{signal.nombre.capitalize()}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="30">
                                <md-input-container class="md-block">
                                    <label>Amplitud</label>
                                    <input name="amplitud" type="number" ng-model="modulacion.moduladora.amplitud" ng-blur="validarPeticion(moduladoraForm)" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block">
                                    <label class="unidad">Voltios</label>
                                </md-input-container>
                            </div>
                            <div flex="60">
                                <md-input-container class="md-block">
                                    <label>Frecuencia de señal</label>
                                    <input name="valor" type="number" min="1" ng-model="frecuenciaModuladora.valor" ng-blur="changeFrecuencia('moduladora'); validarPeticion(moduladoraForm)" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="40">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Unidad</label>
                                    <md-select name="unidad" ng-model="frecuenciaModuladora.unidad" ng-change="changeFrecuencia('moduladora'); validarPeticion(moduladoraForm)" required md-no-asterisk>
                                        <md-option ng-repeat="unidad in unidadesFrecuencia" ng-value="unidad" required>
                                            {{unidad.nombre}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!--PORTADORA-->
    <div id="portadora" class="row">
        <h5 class="center-align">Señal Portadora</h5>
        <div class="col s9">
            <highchart config="portadoraChartConfig"></highchart>
        </div>
        <div class="col s3">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Propiedades de la señal</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <form name="portadoraForm">
                        <div layout="row" layout-wrap>
                            <div flex="50">
                                <md-input-container class="md-block">
                                    <label>Señal</label>
                                    <md-select name="modelo" ng-model="modulacion.portadora.modelo" ng-change="validarPeticion(portadoraForm)" required md-no-asterisk>
                                        <md-option ng-repeat="signal in signals" ng-value="signal.id">
                                            {{signal.nombre.capitalize()}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="30">
                                <md-input-container class="md-block">
                                    <label>Amplitud</label>
                                    <input name="amplitud" type="number" ng-model="modulacion.portadora.amplitud" ng-blur="validarPeticion(portadoraForm)" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block">
                                    <label class="unidad">Voltios</label>
                                </md-input-container>
                            </div>
                            <div flex="60">
                                <md-input-container class="md-block">
                                    <label>Frecuencia de señal</label>
                                    <input name="valor" type="number" min="1" ng-model="frecuenciaPortadora.valor" ng-blur="changeFrecuencia('portadora'); validarPeticion(portadoraForm)" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="40">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Unidad</label>
                                    <md-select name="unidad" ng-model="frecuenciaPortadora.unidad" ng-change="changeFrecuencia('portadora'); validarPeticion(portadoraForm)" required md-no-asterisk>
                                        <md-option ng-repeat="unidad in unidadesFrecuencia" ng-value="unidad" required>
                                            {{unidad.nombre}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!--MODULAR-->
    <div id="modular" class="altura" layout="row" layout-align="center">
        <md-card flex="25">
            <md-card-content>
                <div layout="row">
                    <form name="modularForm">
                        <div layout="column">
                            <h6 class="center-align">Modular en:</h6>
                            <div layout="row" layout-align="center">
                                <md-radio-group ng-model="modulacion.tipo" layout="row" ng-change="cambioTipoModulacion(); validarPeticion(modularForm)" class="md-primary">
                                    <md-radio-button value="FM"> Frecuencia </md-radio-button>
                                    <md-radio-button value="PM"> Fase </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div layout="row" layout-wrap>
                            <!--<div flex="60" style="margin-top: -0.8rem;">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Sens. a la desviación Fre (KL)</label>
                                    <input type="number" ng-model="sensibilidad.frecuencia" ng-blur="cambioSenbilidad('FM'); validarPeticion(modularForm)" md-no-asterisk>
                                </md-input-container>
                            </div>
                            <div flex="25">
                                <md-input-container class="md-block">
                                    <label class="unidad">(rad/seg)/v</label>
                                </md-input-container>
                            </div>
                            <div flex="15" style="padding-top: 1.3rem;">
                                <md-button class="md-icon-button md-primary" aria-label="Calculadora" ng-click="calculadoraDesviacion($event, 'FM')">
                                    <md-icon md-svg-src="assets/icons/calculator.svg"></md-icon>
                                </md-button>
                            </div>-->
                            <div flex>
                                <md-input-container class="md-block">
                                    <label>Sens. a la desviación en {{modulacion.tipo}}</label>
                                    <input type="number" name="sensibilidad" ng-model="modulacion.sensibilidad" ng-blur="validarPeticion(modularForm)" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="20" ng-if="modulacion.tipo== 'FM'">
                                <md-input-container class="md-block">
                                    <label class="unidad">rad/v</label>
                                </md-input-container>
                            </div>
                            <div flex="30" ng-if="modulacion.tipo== 'PM'">
                                <md-input-container class="md-block">
                                    <label class="unidad">(rad/seg)/v</label>
                                </md-input-container>
                            </div>
                            <div flex="10" style="padding-top: 1.3rem;" >
                                <md-button class="md-icon-button md-primary" aria-label="Calculadora" ng-click="calculadoraDesviacion($event)" style="margin-left: -1rem;">
                                    <md-icon md-svg-src="assets/icons/calculator.svg"></md-icon>
                                </md-button>
                            </div>
                            <div flex="80">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Resistencia de carga</label>
                                    <input type="number" name="carga" ng-model="modulacion.resistencia" ng-blur="validarPeticion(modularForm)" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block">
                                    <label class="unidad">Ohmios</label>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
        <div ng-show="loadingModuladora" class="loading-muted" layout="column" layout-align="space-around center">
            <div layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <h6>Cargando señal modulada...</h6>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!--MODULADA-->
    <div id="modulada" layout="row" layout-wrap ng-if="moduladaChartConfig.series[0].data.length">
        <div flex="100">
            <h5 class="center-align">Señal Modulada</h5>
        </div>
        <div flex="75">
            <highchart config="moduladaChartConfig"></highchart>
        </div>
        <div flex="25">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Propiedades de la señal</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <form name="moduladaForm">
                        <div layout="row" layout-wrap>
                            <div flex="auto">
                                <md-input-container class="md-block">
                                    <label ng-if="modulacion.tipo == 'FM'">Indice de Modulación </label>
                                    <label ng-if="modulacion.tipo == 'PM'">Indice de Modulación y Desviación de frecuencia </label>
                                    <input name="indice" type="number" min="0" ng-model="modulacion.modulada.indice" ng-blur="cambioIndice()" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="10" ng-if="modulacion.tipo == 'PM'">
                                <md-input-container class="md-block">
                                    <label class="unidad">rad</label>
                                </md-input-container>
                            </div>
                            <div flex="90" ng-if="modulacion.tipo == 'FM'">
                                <md-input-container class="md-block">
                                    <label>Desviacion de frecuencia</label>
                                    <input name="desMax" type="number" min="0" ng-model="modulacion.modulada.desMax" ng-blur="cambioDesv()" md-no-asterisk required>
                                </md-input-container>
                            </div>
                            <div flex="10" ng-if="modulacion.tipo == 'FM'">
                                <md-input-container class="md-block">
                                    <label class="unidad">Hz</label>
                                </md-input-container>
                            </div>
                            <div flex="100">
                                <div layout="row" layout-wrap>
                                    <div flex="60">
                                        <md-input-container class="md-block">
                                            <label>{{tituloMod.capitalize()}} instantánea</label>
                                            <input name="FInst" type="text" ng-model="modulacion.modulada.fInst" disabled>
                                        </md-input-container>
                                    </div>
                                    <div flex="10" ng-if="modulacion.tipo == 'FM'">
                                        <md-input-container class="md-block">
                                            <label class="unidad">Hz</label>
                                        </md-input-container>
                                    </div>
                                    <div flex="10" ng-if="modulacion.tipo == 'PM'">
                                        <md-input-container class="md-block">
                                            <label class="unidad">rad</label>
                                        </md-input-container>
                                    </div>
                                    <div flex="20">
                                        <md-input-container class="md-block">
                                            <label>Tiempo (s)</label>
                                            <input name="tiempoF" type="number" min="0" ng-model="modulacion.modulada.tiempoInstF" ng-blur="calcInstantanea(modulacion.modulada.tiempoInstF, false)" md-no-asterisk>
                                        </md-input-container>
                                    </div>
                                    <div flex="10">
                                        <md-input-container class="md-block">
                                            <label class="unidad">s</label>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div flex="100">
                                <div layout="row" layout-wrap>
                                    <div flex="60">
                                        <md-input-container class="md-block">
                                            <label>Des. instantánea de {{tituloMod}}</label>
                                            <input name="desInst" type="text" ng-model="modulacion.modulada.desInst" disabled>
                                        </md-input-container>
                                    </div>
                                    <div flex="10" ng-if="modulacion.tipo == 'FM'">
                                        <md-input-container class="md-block">
                                            <label class="unidad">Hz</label>
                                        </md-input-container>
                                    </div>
                                    <div flex="10" ng-if="modulacion.tipo == 'PM'">
                                        <md-input-container class="md-block">
                                            <label class="unidad">rad</label>
                                        </md-input-container>
                                    </div>
                                    <div flex="20">
                                        <md-input-container class="md-block">
                                            <label>Tiempo</label>
                                            <input name="tiempoDes" type="number" min="0" ng-model="modulacion.modulada.tiempoInsDes" ng-blur="calcInstantanea(modulacion.modulada.tiempoInsDes, true)" md-no-asterisk>
                                        </md-input-container>
                                    </div>
                                    <div flex="10">
                                        <md-input-container class="md-block">
                                            <label class="unidad">s</label>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div flex="100">
                                <md-input-container class="md-block">
                                    <label>Bandas Laterales Significativas</label>
                                    <input name="bandas" type="number" min="0" ng-model="modulacion.modulada.n" md-no-asterisk disabled>
                                </md-input-container>
                            </div>
                            <div flex="40">
                                <md-input-container class="md-block">
                                    <label>Ancho de Banda (Bessel)</label>
                                    <input name="anchoBessel" type="number" min="0" ng-model="modulacion.modulada.anchoBessel" md-no-asterisk disabled>
                                </md-input-container>
                            </div>
                            <div flex="10">
                                <md-input-container class="md-block">
                                    <label class="unidad">Hz</label>
                                </md-input-container>
                            </div>
                            <div flex="40">
                                <md-input-container class="md-block">
                                    <label>Ancho de Banda (Carson)</label>
                                    <input name="anchoCarson" type="number" min="0" ng-model="modulacion.modulada.anchoCarson" md-no-asterisk disabled>
                                </md-input-container>
                            </div>
                            <div flex="10">
                                <md-input-container class="md-block">
                                    <label class="unidad">Hz</label>
                                </md-input-container>
                            </div>
                            <div flex="40">
                                <md-input-container class="md-block">
                                    <label>Potencia Total</label>
                                    <input name="potenciaT" type="number" ng-model="modulacion.modulada.potenciaTotal" md-no-asterisk disabled>
                                </md-input-container>
                            </div>
                            <div flex="10">
                                <md-input-container class="md-block">
                                    <label class="unidad">W</label>
                                </md-input-container>
                            </div>
                            <div flex="40">
                                <md-input-container class="md-block">
                                    <label>Potencia Promedio</label>
                                    <input name="potenciaProm" type="number" ng-model="modulacion.modulada.potenciaPromedio" md-no-asterisk disabled>
                                </md-input-container>
                            </div>
                            <div flex="10">
                                <md-input-container class="md-block">
                                    <label class="unidad">W</label>
                                </md-input-container>
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!--DEMODULADA-->
    <div id="demodulada" layout="row" layout-wrap ng-if="demoduladaChartConfig.series[0].data.length">
        <div flex="100">
            <h5 class="center-align">Señal Demodulada</h5>
        </div>
        <div flex="100">
            <highchart config="demoduladaChartConfig"></highchart>
        </div>
    </div>
    <!--ESPECTRO-->
    <div id="espectro" layout="row" layout-wrap ng-if="espectrosChartConfig.series[0].data.length">
        <div flex="100">
            <h5 class="center-align">Espectro de Frecuencias</h5>
        </div>
        <div flex="100">
            <highchart config="espectrosChartConfig"></highchart>
        </div>
    </div>

</div>