div #moduladora {
    margin-top: 5rem;
}

div > md-input-container {
    margin-bottom: 0 !important;
    margin-top: 1.2rem !important;
}

div > md-input-container > input {
    margin-bottom: -2rem !important;
}

.md-content-modulacion {
    overflow-y: hidden !important;
}
/*Panel con fondo muted*/
.loading-muted {
    position: absolute;
    width: 24.5%;
    height: inherit;
    background-color: rgba(232, 234, 246, 0.5);
    z-index: 50;
}
/*Altura card modular*/
#modular.altura {
    height: 15rem;
}

input[disabled], md-input-container > .unidad {
    color: #5a5a5a !important;
}